  
<div class="content">
  
    <!-- Resources -->
    <div class="title-home">
      <h3>Our Team</h3>
    </div>

    <table>
      <tr>
        <th><img src="../assets/img/gclogo.png" alt="Team_image"></th>
        <th><img src="../assets/img/profile.jpg" alt="Team_image"></th>
        <th><img src="../assets/img/Gab.jpg" alt="Team_image"></th>
      </tr>
      <tr>
        <td>
          <div class="details">
            <h3>Neilwinn Pineda</h3>
            <p>App Developer</p>
          </div>
        </td>
        <td>
          <div class="details">
            <h3>Via Grazielle Torres</h3>
            <p>Team Leader</p>
          </div>
        </td>
        <td>
          <div class="details">
            <h3>Sonny Gabriel Diano</h3>
            <p>App Designer</p>
          </div>
        </td>
      </tr>
    </table>
</div>	