<!-- <p>about-us works!</p>
 
<div class="row">
    <div class="column" style="background-color:rgb(235, 233, 233);text-align:center;width: 600px;margin: 0 auto;">
        <img src="../assets/img/profile.jpg" alt="User's Profile Picture" class="via">
      <p>Some text..</p>
    </div>
    <div class="column" style="background-color:rgb(235, 233, 233);text-align:center;width: 600px;margin: 0 auto;">
        <img src="../assets/img/profile.jpg" alt="User's Profile Picture" class="via">
      <p>Some text..</p>
    </div>
    <div class="column" style="background-color:rgb(235, 233, 233); text-align:center;width: 600px;margin: 0 auto;">

                <img src="../assets/img/Gab.jpg" class="image" class="gab">
              
    </div>
  </div> -->

  
<div class="wrapper">
    <h1>Our Team</h1>
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img src="../assets/img/profile.jpg" alt="Team_image">
        </div>
        <h3>Neilwinn Pineda</h3>
        <p class="role">App Developer</p>
        <p>Bachelor's of Science in Information Technology 3rd Year, Block A in Gordon College</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="../assets/img/profile.jpg" alt="Team_image">
        </div>
        <h3>Via Grazielle Torres</h3>
        <p class="role">Team Leader</p>
        <p>Bachelor's of Science in Information Technology 3rd Year, Block A in Gordon College</p></div>
      <div class="team_member">
        <div class="team_img">
          <img src="../assets/img/Gab.jpg" alt="Team_image">
        </div>
        <h3>Sonny Gabriel Diano</h3>
        <p class="role">App Designer</p>
        <p>Bachelor's of Science in Information Technology 3rd Year, Block A in Gordon College </p>
      </div>
    </div>
  </div>	