<div class="content" role="main">


  <!--SECTION 1-->
  <div class="return-btn">
    <div class="position-relative" aria-label="Angular on twitter" target="_blank" rel="noopener" title="Return" routerLink="/shop">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    </div>
  </div>

  <div class="title-product">
    <h3>My Cart</h3>
    <p>Add more you need in your cart!</p>
  </div>

  <ng-container *ngFor="let cartInfoTable of cartInfoTable">

    <div class="card-container">
      <div class="card" target="_blank" rel="noopener">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <img src="{{getProdImage(cartInfoTable.prod_id)}}" alt=" Product Image">
          <label class="form-check-label" for="flexCheckDefault">
            {{getProdName(cartInfoTable.prod_id)}}
          </label>
          <span style="font-size: 25px;">{{cartInfoTable.cart_total}} {{computeTotal(cartInfoTable.cart_total)}}</span>&nbsp;

          
         
          <button mat-raised-button color="warn" type="submit">
              <mat-icon color="red">cancel</mat-icon>
            </button>
          
        </div>
      </div>
    </div>

  </ng-container>


  <div class="total">
    <h6>Total Payment: <span id="price">{{getTotal()}}</span></h6>
  </div>

  <!--PLACE ORDER BUTTON-->
  <div class="btn-order">
    <button type="button" class="btn btn-danger btn-block" routerLink="/online-electronic-shop/my-cart/order-checkout" style="width: 125px; height: 40px;margin-left: 140px;">Check Out<span>({{getCount()}})</span></button>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

