<div class="content" role="main">


  <!--SECTION 1-->
  <!--<div class="return-btn">
    <div class="position-relative" aria-label="Angular on twitter" target="_blank" rel="noopener" title="Return" routerLink="/shop">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    </div>
  </div>-->

  <div class="title-product">
    <h3>My Cart</h3>
    <p>Add more you need in your cart!</p>
  </div>

  <!--DELIVERY ADDRESS-->
  <div class="card-container">
    <div class="card" target="_blank" rel="noopener">
      <p id="del-add">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
          </svg>
        </span>Delivery Address
      </p>
      <div class="customer-info">
        <p>{{name}}</p>
        <p>{{contact}}</p>
        <p>{{address}}</p>
      </div>
    </div>
  </div>


  <!--SHIPPING OPTION-->
  <div class="card-container">
    <div class="card" target="_blank" rel="noopener">
      <p id="sopt-color">Shipping Option</p>
      <div class="ship-info">
        <p id="ship-opt">Standard Local</p>
        <p>Standard Delivery</p>
        <p>Receive by 15 Jul - 16 Jul</p>
        <span>₱40</span>
        <br />
      </div>
    </div>
  </div>

  <ng-container *ngFor="let cartInfoTable of cartInfoTable">

    <div class="card-container">
      <div class="card" target="_blank" rel="noopener">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <img src="{{getProdImage(cartInfoTable.prod_id)}}" alt=" Product Image">
          <label class="form-check-label" for="flexCheckDefault">
            {{getProdName(cartInfoTable.prod_id)}}
          </label>
          <span style="font-size: 25px;">{{cartInfoTable.cart_total}}</span>&nbsp;


          <button mat-raised-button color="warn" type="submit">
            <mat-icon color="red">cancel</mat-icon>
          </button>

        </div>
      </div>
    </div>

  </ng-container>


  <!--PAYMENT DETAILS-->
  <div class="card-container">
    <div class="card" target="_blank" rel="noopener">
      <div class="ship-info">
        <p>CASH ON DELIVERY</p>
        <p>Merchandise Subtotal  <span id="mer-sub">{{getTotal()}}</span></p>
        <p>Shipping Subtotal <span id="shi-sub">₱40</span></p>

      </div>
    </div>
  </div>


  <div class="total">
    <h6>Total Payment: <span id="price">{{getTotal()}}</span></h6>
  </div>

  <!--PLACE ORDER BUTTON-->
  <div class="btn-order">
    <button type="button" class="btn btn-danger btn-block" (click)="generateOrder()" style="width: 125px; height: 40px;margin-left: 140px;">Check Out<span>({{getCount()}})</span></button>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

</div>



