<h1 style="text-align: center;">
    Register Page
</h1>

<div class="container">
    <mat-form-field>
        <input matInput placeholder="Full Name" formControlName="name">

    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">

    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">

    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">

    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="Password COnfirmation" formControlName="confirmPassword">

    </mat-form-field>

    <button  type="submit">Register</button>
</div>
