<div class="content" role="main">

  <!--SECTION 1-->
  <div class="home-content ">
    <div class="jumbotron">
      <h1 class="display-4">Welcome!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p>
        <a class="btn btn-danger btn-lg" routerLink="/online-electronic-shop/shop" role="button">
          Shop Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </a>
      </p>
    </div>

    <div class="side-picture">
      <img src="../assets/img/homepic.jpg" alt=" side picture">
    </div>
  </div>

  <!-- Resources -->
  <div class="title-home">
    <h3>Categories</h3>
    <p>Here are some links to help you get started:</p>
  </div>

  <div class="card-container">
    <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/shop">
      <div class="card-text">
        <img src="../assets/img/profile.jpg" alt="User's Profile Picture" style="width: 120px; height: 120px;">
        <h6>BreadBoard</h6>
        
      </div>
      <div class="item-btn">
        <button type="button" class="btn btn-outline-danger btn-sm btn-block">View</button>
      </div>
    </div>

    <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/shop">
      <div class="card-text">
        <img src="../assets/img/profile.jpg" alt="User's Profile Picture" style="width: 120px; height: 120px;">
        <h6>LAN Tester</h6>
        
      </div>
      <div class="item-btn">
        <button type="button" class="btn btn-outline-danger btn-sm btn-block">View</button>
      </div>
    </div>

    <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/shop">
      <div class="card-text">
        <img src="../assets/img/profile.jpg" alt="User's Profile Picture" style="width: 120px; height: 120px;">
        <h6>Soldering Iron</h6>
        
      </div>
      <div class="item-btn">
        <button type="button" class="btn btn-outline-danger btn-sm btn-block">View</button>
      </div>
    </div>

    <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/shop">
      <div class="card-text">
        <img src="../assets/img/profile.jpg" alt="User's Profile Picture" style="width: 120px; height: 120px;">
        <h6>Electric Tester Meter</h6>
        
      </div>
      <div class="item-btn">
        <button type="button" class="btn btn-outline-danger btn-sm btn-block">View</button>
      </div>
    </div>

  </div>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<!-- Footer -->
<!--<footer>
  <div class="txt">
    <p>© Electronic Shop <span>·</span> 2021</p>
  </div>
</footer>-->

