<!-- Toolbar -->
<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
     <mat-icon>menu</mat-icon>
   </button>
   <span><img src="../assets/img/logoname2.png" alt="Electronic Shop"></span>
   <span class="example-spacer"></span>
   <div class="spacer-left"></div>
   <div class="spacer-right"></div>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>account_circle</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar> -->

<mat-drawer-container class="example-container" autosize>
    <!--<mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list>
            <mat-list-item><button mat-button routerLink="/online-electronic-shop/admin-panel/dashboard"><mat-icon>home</mat-icon>Dashboard</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><button mat-button id="active" routerLink="/online-electronic-shop/admin-panel/products"><mat-icon>list_alt</mat-icon>Products</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><button mat-button routerLink="/online-electronic-shop/admin-panel/orders"><mat-icon>book</mat-icon>Orders</button></mat-list-item>
          </mat-list>
    </mat-drawer>-->

  <mat-drawer-content>
    <h2>Orders</h2>
    <mat-divider></mat-divider>

    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input type="search" matInput>
    </mat-form-field>

    <table mat-table [dataSource]="ordersInfoTableDataSource" matSort class="mat-elevation-z8">


      <ng-container matColumnDef="order_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 100px;" > Order No. </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 100px;"> {{element.order_no}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="user_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 100px;" > User ID </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 100px;">user-00{{element.order_no}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="order_content">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="width: 75vh;" > Order Ticket </mat-header-cell>
        <mat-cell *matCellDef="let element" style="width: 75vh;" > {{element.order_content}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="order_total">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 100px;"> Order Total </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 100px;"> {{element.order_total}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



  </mat-drawer-content>
</mat-drawer-container>


