<!--HEADER-->
<mat-toolbar class="mat-elevation-z8" style="padding: 8px; padding-top: 16px !important; vertical-align: middle; position: sticky; top: 0; z-index: 100">

  <img src="../assets/img/logoname2.png" alt="Electronic Shop" routerLink="/home">

  <div class="spacer-left"></div>

  <button mat-button routerLink="/home">HOME</button>
  <button mat-button routerLink="/shop">SHOP</button>
  <button mat-button routerLink="/profile">PROFILE</button>
  <button mat-button routerLink="/aboutus">ABOUT US</button>

  <div class="spacer-right"></div>

  <!--CART BUTTON-->
  <button mat-icon-button aria-label="Shopping Bag" routerLink="/my-cart" matTooltip="Shopping Bag">
    <mat-icon matBadge="{{badgeNoti}}" matBadgeColor="warn">shopping_basket</mat-icon>  
  </button>

  <!--LOGOUT BUTTON-->
  <button class="shop-bag" mat-icon-button aria-label="Exit App" matTooltip="Logout">
    <mat-icon>exit_to_app</mat-icon> 
  </button>

</mat-toolbar>

<router-outlet>

</router-outlet>


