<!--HEADER-->
<mat-toolbar class="mat-elevation-z8" style="padding: 8px; padding-top: 16px !important; vertical-align: middle; position: sticky; top: 0; z-index: 100">

  <img src="../assets/img/logoname2.png" alt="Electronic Shop" routerLink="/online-electronic-shop/home">

  <div class="spacer-left"></div>

  <button mat-button routerLink="/home">HOME</button>
  <button mat-button routerLink="/shop">SHOP</button>
  <button mat-button routerLink="/profile">PROFILE</button>
  <button mat-button>ABOUT US</button>

  <div class="spacer-right"></div>

  <div class="shop-bag position-relative" title="Shopping Bag" routerLink="/my-cart">
    <mat-icon matBadge="{{badgeNoti}}" matBadgeColor="warn">shopping_basket</mat-icon>       
  </div>

</mat-toolbar>

<router-outlet>

</router-outlet>

<!--FOOTER-->

<mat-toolbar style="padding: 8px; padding-top: 16px !important; vertical-align: middle; position: sticky; bottom: 0;position: fixed; z-index: 100">
  <footer>
    <p>© Electronic Shop <span>·</span> 2021</p>
  </footer>
</mat-toolbar>


