
<mat-toolbar class="mat-elevation-z8" style="padding: 8px; padding-top: 16px !important; vertical-align: middle; position: sticky; top: 0; z-index: 100">

  <img src="../assets/img/logoname2.png" alt="Electronic Shop">

  <div class="spacer-left"></div>

  <button mat-button>HOME</button>
  <button mat-button routerLink="/shop">SHOP</button>
  <button mat-button>PROFILE</button>
  <button mat-button>ABOUT US</button>

  <div class="spacer-right"></div>

</mat-toolbar>

<router-outlet>

</router-outlet>


<mat-toolbar style="background-color: #fd3a5c; color: white">
  <p>© Electronic Shop <span>·</span> 2021</p>
</mat-toolbar>
