

<div class="content" role="main">

  <!--SECTION 1-->
  <div class="return-btn">
    <div class="position-relative" aria-label="Angular on twitter" target="_blank" rel="noopener" title="Return" routerLink="/shop">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    </div>
  </div>

  <ng-container>

  </ng-container>

  <div class="title-product">
    <h3>Product Details</h3>
    <p>Here are some details to help you get started:</p>
  </div>

  <div class="home-content">
    <div class="side-picture">
      <img src="{{prodInfoTable[0].prod_image}}" alt=" Product Image">

    </div>

    <div class="pro-details">
      <h3>{{prodInfoTable[0].prod_name}}</h3>

      <p>  {{prodInfoTable[0].prod_desc}}</p>
      <br>

      <!--<div class="rating">
        <span>5.0</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg>

        <span id="rate-num"><span>45</span> Ratings</span>

        <span id="sold"><span>59</span> Sold</span>
      </div>-->
      <div class="inBox">
        <!--Product Price-->
        <p class="lead">UNIT PRICE PHP : {{prodInfoTable[0].prod_price}}</p>

        <div class="shipping">
          <span>Shipping:</span>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
              <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
            </svg>
          </span>
          <span>Free Shipping</span>
          <p>Free Shipping with min order of ₱249</p>
        </div>

        <div class="quanti">
          <span>Quantity:</span>
          <input id=itemQuantity [(ngModel)]="prod_quantity" type=number min=1 max={{prodInfoTable[0].prod_quantity}} placeholder="1">

          <span><span id="colored">{{prodInfoTable[0].prod_quantity }}</span> Pieces available</span>
        </div>      

        <mat-divider></mat-divider>
        <br />
        <p class="lead">TOTAL PRICE  PHP : {{getTotal(prodInfoTable[0].prod_price)}}</p>


        <a class="btn btn-outline-danger btn-sm btn-block" id="outline-btn" (click)="addToCart(prodInfoTable[0].prod_quantity)" role="button">Add to Cart</a>
        <!--<a class="btn btn-danger btn-sm btn-block" routerLink="/online-electronic-shop/my-cart/order-checkout" role="button">Buy Now</a>-->

        <!--Snackbar text, di ko alam panu mo nalagay dito ung snackbar, peru oki hahahahaha-->

        <input matInput value="Added to Cart" #message hidden>

      </div>
    </div>
  </div>

  <!-- Resources -->
  <div class="title-home">
    <h3>Other Related Product</h3>
    <p></p>
  </div>

  <div class="card-container">
    <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/product-details">
      <div class="card-text">
        <img src="../assets/img/products/UTP cable.png" alt="image">
        <h6>UTP Cable </h6>
        <p id="active">₱150</p>
      </div>
    </div>

    <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/product-details">
      <div class="card-text">
        <img src="../assets/img/products/wire.png" alt="image">
        <h6>Cable Wire </h6>
        <p id="active">₱160</p>
      </div>
    </div>

    <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/product-details">
      <div class="card-text">
        <img src="../assets/img/products/rj45.png" alt="image">
        <h6>RJ45 </h6>
        <p id="active">₱7</p>
      </div>
    </div>

    <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/product-details">
      <div class="card-text">
        <img src="../assets/img/products/solderingiron.png" alt="image">
        <h6>Soldering Iron </h6>
        <p id="active">₱130</p>
      </div>
    </div>

  </div>

</div>




























