<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="../assets/img/logoname2.png" alt="Electronic Shop">
    <div class="spacer-left"></div>

    <div class="justify-content-sm-center">
        <ul class="nav">
            <li><a routerLink="/online-electronic-shop/home" id="active">HOME</a></li>
            <li><a routerLink="/online-electronic-shop/shop">SHOP</a></li>
            <li><a routerLink="/online-electronic-shop/profile">PROFILE</a></li>
            <li><a href="#">ABOUT US</a></li>
        </ul>
    </div>
    <div class="spacer-right"></div>
        <div class="shop-bag position-relative" aria-label="Angular on twitter" target="_blank" rel="noopener" title="Shopping Bag" routerLink="/online-electronic-shop/my-cart">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                <rect width="400" height="400" fill="none"/>
            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
            </svg>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                3
            </span>        
        </div>

  </div>
  
  <div class="content" role="main">

    <!--SECTION 1-->
    <div class="home-content ">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p>
                <a class="btn btn-danger btn-lg" routerLink="/online-electronic-shop/shop" role="button">Shop Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </a>
            </p>
        </div>

        <div class="side-picture">
            <img src="../assets/img/homepic.jpg" alt=" side picture">
        </div>
    </div>

    <!-- Resources -->
    <div class="title-home">
        <h3>Categories</h3>
        <p>Here are some links to help you get started:</p>
    </div>

    <div class="card-container">
        <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/shop">
            <div class="card-text">
                <h6>Learn Angular</h6>     
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Resistor</h6>        
            </div>
            <div class="item-btn">
                <button type="button" class="btn btn-outline-danger btn-sm btn-block">View</button>
            </div>    
        </div>
  
        <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/shop">
            <div class="card-text">
                <h6>Learn Angular</h6>     
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Capacitor</h6>        
            </div>
            <div class="item-btn">
                <button type="button" class="btn btn-outline-danger btn-sm btn-block">View</button>
            </div>    
        </div>
  
        <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/shop">
            <div class="card-text">
                <h6>Learn Angular</h6>     
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Resistor</h6>        
            </div>
            <div class="item-btn">
                <button type="button" class="btn btn-outline-danger btn-sm btn-block">View</button>
            </div>    
        </div>
  
        <div class="card" target="_blank" rel="noopener" routerLink="/online-electronic-shop/shop">
            <div class="card-text">
                <h6>Learn Angular</h6>     
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Learn Angular</h6>        
                <h6>Capacitor</h6>        
            </div>
            <div class="item-btn">
                <button type="button" class="btn btn-outline-danger btn-sm btn-block">View</button>
            </div>    
        </div>
  
    </div>
  
    </div>

    <!-- Footer -->
    <footer>
      <div class="txt">
        <p>© Electronic Shop <span>·</span> 2021</p>
      </div>
    </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
