#colored {
    background-color: #fd3a5c;
    color: azure;
}

h2, label, input {
    font-family: Poppins;
}

h2 span svg {
    color: #fd3a5c;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.col-md-6, .col-md-5, .col-md-2, .col-12 {
    padding-top: 10px;
}

label span {
    color: #fd3a5c;
}