<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/4.7.0/css/font-awesome.min.css">

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="../assets/img/logoname2.png" alt="Electronic Shop">        
  <div class="spacer-left"></div>

    <div class="align-items-center">
        <ul class="nav">
            <li><a routerLink="/online-electronic-shop/home">HOME</a></li>
            <li><a routerLink="/online-electronic-shop/shop">SHOP</a></li>
            <li><a routerLink="/online-electronic-shop/profile">PROFILE</a></li>
            <li><a href="#">ABOUT US</a></li>
        </ul>
    </div>
    <div class="spacer-right"></div>

        <div class="shop-bag position-relative" aria-label="Angular on twitter" target="_blank" rel="noopener" title="Shopping Bag" routerLink="/online-electronic-shop/my-cart">
            <svg  id="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                <rect width="400" height="400" fill="none"/>
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
            </svg>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                3
            </span>        
        </div>        
  </div>
  
  <div class="content" role="main">


    <!--SECTION 1-->
    <div class="return-btn">
        <div class="position-relative" aria-label="Angular on twitter" target="_blank" rel="noopener" title="Return" routerLink="/online-electronic-shop/my-cart">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>        
        </div>
    </div>

    <div class="title-product">
        <h3>Checkout</h3>
        <p>Here are some links to help you get started:</p>
    </div>
  
    <!--DELIVERY ADDRESS-->
    <div class="card-container">
        <div class="card" target="_blank" rel="noopener">
            <p id="del-add"> <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
              </svg></span>Delivery Address</p>
            <div class="customer-info">
                <p>Via Grazielle Torres</p>
                <p>(+63) 951 127 9228</p>
                <p><span>32 Caron St. </span>West Bajac-Bajac, Olongapo City, North Luzon, Zambales <span>2200</span></p>
            </div>
        </div>
    </div>

    <!--ITEM CARD 1-->
    <div class="card-container">
        <div class="card" target="_blank" rel="noopener">
            <div class="form-check">
                <img src="../assets/img/products/Breadboard.png" alt=" Product Image">
                <label class="form-check-label" for="flexCheckDefault">
                  Bread Board
                </label>
                <span id="total">₱48</span>        
            </div>
        </div>
    </div>

    <!--SHIPPING OPTION-->
    <div class="card-container">
        <div class="card" target="_blank" rel="noopener">
            <p id="sopt-color">Shipping Option</p>
            <div class="ship-info">
                <p id="ship-opt">Standard Local</p>
                <p>Standard Delivery</p>
                <p>Receive by 15 Jul - 16 Jul</p>
                <span>₱40</span>
            </div>
        </div>
    </div>

    <!--PAYMENT DETAILS-->
    <div class="card-container">
        <div class="card" target="_blank" rel="noopener">
            <p id="sopt-color">Order Detail <span>(1 Item):</span></p>
            <div class="ship-info">
                <p>Merchandise Subtotal  <span id="mer-sub">₱48</span></p>
                <p>Shipping Subtotal <span id="shi-sub">₱40</span></p>
                <p class="ship-opt">Total Payment <span id="tot-pay">₱88</span></p>
                
            </div>
        </div>
    </div>

    
    <div class="total">
        <h6>Total Payment: <span id="price">₱88</span></h6>
    </div>

    <!--PLACE ORDER BUTTON-->
    <div class="btn-order">
        <button type="button" class="btn btn-danger btn-block" >Place Order</button> 
    </div>
  
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
