<!--HEADER-->
<mat-toolbar class="mat-elevation-z8" style="padding: 8px; padding-top: 16px !important; vertical-align: middle; position: sticky; top: 0; z-index: 100">

  <img src="../assets/img/logoname2.png" alt="Electronic Shop" routerLink="/online-electronic-shop/home">

  <div class="spacer-left"></div>

  <button mat-button routerLink="/order">Orders</button>
  <button mat-button routerLink="/product">Product</button>
  <!--<button mat-button>ABOUT US</button>-->

  <div class="spacer-left"></div>
  <div class="spacer-right"></div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>

<router-outlet>

</router-outlet>

<!--FOOTER-->

<!--<mat-toolbar style="padding: 8px; padding-top: 16px !important; vertical-align: middle; position: sticky; bottom: 0; position: fixed; z-index: 100">
  <footer>
    <p>© Electronic Shop <span>·</span> 2021</p>
  </footer>
</mat-toolbar>-->


