:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer-right {
    flex: 1;
  }

  .spacer-left {
    flex: .7;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: #585252;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    float: left;
    width: 50%;
    padding: 30px;
  }

  .card {
    border-radius: 10px;
    background-color: #fafafa;
    height: 130px;
    width: 950px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    /*flex-direction: row;*/
    justify-content: left;
    align-items: left;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }


  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  @media screen and (max-width: 750px) {
    .shop-bag .badge {
      position: absolute;
      right: 38px;
      height: 18px;
      padding: 0px 5px;
      border-radius: 50%;
      background: #fd3a5c;
      color: white;
      margin-top: -7px;
      margin-right: 200px;
    }
  }


/*EDIT CCS*/

.shop-bag{
    padding-right: 5%;
}

.toolbar svg {
    color: #585252;
}

.toolbar img {
  width: 235px;
  height: 30px;
  padding-left: 5%;
}

.nav {
  text-align:center;
  position: relative;
}

.nav li {
  display:inline;
}
  
.nav a {
  text-decoration:none; 
  padding:0 10px; /* variable width */
  color: #585252;
}

.nav a:hover, #active, .toolbar a:hover{
  color: #fd3a5c;
}

.nav-center {
  display: flex;
  justify-content: center;
}

.shop-bag .badge {
  border-radius: 100%;
  background: #fd3a5c;
  color: white;
}

.card-container .card  svg {
  color: #585252;
}

.toolbar, .content, mat-list-item {
  font-family: Poppins;
}

.item-btn button{
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-text h6{
  text-align: center;
  color: #585252;

}

.page-container {
  padding-top: 25px;
  float: left;
}

.side-picture img{
  width: 300px;
  height: 300px;
}

.home-content a{
  margin-top: 15px;
  color: white;
}

.pro-details {
  background-color: white;
  float: right;
  margin-left: 1450px;

}

.lead {
  width: 480px;
  padding-left: 20px;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 15px;
}

.home-content {
  position: relative;
  padding-top: 20px;
}

.side-picture {
  position: absolute;
  float: left;
}

.title-product {
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.title-home {
    justify-content: center;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
}

#itemQuantity {
    text-align: center;
}

input {
    height: 35px;
    font-size: 20px;
}

.quanti span, .shipping span{
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}

#colored, .shipping svg, .rating span, .rating svg, .lead,
 .form-check span, .total h6 span, #del-add svg, #sopt-color,
 .ship-info span, .payment-det span, .ship-opt #tot-pay, .form-check #total {
    color: #fd3a5c;
}

.shipping svg {
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
}

.shipping p {
    margin-left: 112px;
}

.shipping, .quanti {
    padding-bottom: 30px;
}

.quanti input {
    margin-left: 11px;
}

.rating {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.rating span {
    margin-right: 5px;
}

#rate-num, #sold {
    color: #585252;
}

.rating #rate-num, .rating #sold {
    padding-left: 15px;

}

.rating #rate-num span, .rating #sold span{
    padding-left: 15px;
    font-weight: 600;

}

.form-check img {
    height: 100px;
    width: 100px;
    margin-left: 48px;
}

.form-check-input {
    height: 20px;
    width: 20px;
    margin-left: 0px;
    margin-top: 38px;
}

.form-check-label, .ship-info span {
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
}

.ship-info span, .payment-det span{
    float: right;
    padding-top: 3px;
    font-weight: 500;
    font-size: 16px;
}

.btn-order {
    padding: 15px 0px 50px 650px;
    position: relative;
    float: right;
}

.total h6 {
    position: absolute;
    padding-left: 20px;
    padding-top: 15px;
    float: left;
    padding-right: 10px;
}

.total h6 span {
    padding-left: 15px;
    font-weight: 700;
}

.btn-order span {
    padding-left: 10px;
}

#del-add, #ship-opt, .ship-opt #tot-pay{
    font-weight: 700;
}

#del-add svg {
    margin-right: 10px;
}

.customer-info, .ship-info, .payment-det, .customer-purchase {
    padding-left: 25px;
    
}

.ship-info span {
    position: absolute;
    margin-left: 700px;
    margin-top: -60px;
}

#mer-sub {
    position: absolute;
    margin-left: 549px;
    margin-top: -3px;
    color: #585252;
    font-size: 13px;

}

#shi-sub {
    position: absolute;
    margin-left: 578px;
    margin-top: -3px;
    color: #585252;
    font-size: 13px;

}

.ship-opt #tot-pay {
    position: absolute;
    margin-left: 598px;
    margin-top: -3px;
}

.form-check #total {
    float: right;
    font-weight: 500;
    font-size: 16px;
    margin-left: 200px;
    padding-right: 77px;
    padding-top: 34px;
}

.shop-bag span{
  margin-left: -5px;
  margin-top: -5px;
}

.return-btn svg {
  height: 25px;
  width: 25px;
  position: absolute;
  margin-top: 40px;
}

#price, .total h6 {
  font-weight: 500;
  font-size: 16px;
}

h1, h3, h6 {
  font-family: Poppins;
}

.jumbotron h1{
  font-size: 70px;
  font-weight: 450;
  margin-top: 70px;
  padding-bottom: 40px;
}

.lead {
  padding-bottom: 25px;
}

.title-product h3 {
  font-weight: 500;
  font-size: 27px;
  font-family: Poppins;
}

.customer-pic img {
    width: 100px;
    height: 100px;
    border-color: #eff3f6;
    border-radius: 109%;
    margin-left: 20px;

}

.colored {
    background-color: #fd3a5c;
}

.customer-info {
    color: #f0f3f6;
    position: absolute;
    margin-left: 130px;
    margin-top: 15px;
}

.to-pay svg, .to-ship svg, .to-receive svg, .to-rate svg{
    width: 35px;
    height: 35px;
}

.to-pay {
    justify-content: center;
    text-align: center;
    position: absolute;
    color: #585252c7;
}

.to-ship{
    justify-content: center;
    text-align: center;
    position: absolute;
    color: #585252c7;

}

.to-receive {
    justify-content: center;
    text-align: center;
    position: absolute;
    color: #585252c7;
}

.to-rate{
    justify-content: center;
    text-align: center;
    position: absolute;
    color: #585252c7;
}

.purchase {
     margin-top: -10px;
}

.to-pay span, .to-rate span, .to-receive span, .to-ship span {
    color: #f0f3f6;
    border-radius: 100%;
}

.view-history {
    position: absolute;
    float: right;
    justify-content: end;
    margin-left: 78%;
    color: #666262c7;
    text-decoration: none;

}


.card-height {
    height: 190px;
}

mat-list-item {
    font-size: 10px;
}

mat-panel-title svg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

mat-panel-title span svg, .view-history svg:hover, .view-history p:hover{
  color: #fd3a5c;
}

#chevron-right{
  color: #585252;
  float: right;
  margin-left: 645px;
}

#chevron{
  color: #585252;
  float: right;
  margin-left: 628px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-panel-title {
  font-family: Poppins;
}

.other button{
  text-align: left;
  justify-content: left;
}

.other svg {
  width: 20px;
  height: 20px;
  margin-right: 18px;
  color: #fd3a5c;
  margin-left: 12px;
}

.other::after{
  content: "";
  clear: both;
  display: table;
  
}

.box {
  padding: 30px; 
  width: 600px;
  resize: vertical;
  overflow: auto;
}



