:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: #585252;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
   
  }

  .card {
    border-radius: 10px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 350px;
    width: 250px;
    margin: 0 30px 30px;
    padding: 16px;
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }


/*EDIT CCS*/

.card-container .card  svg {
  color: #585252;
}


.item-btn button{
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-text h6{
  text-align: center;
  color: #585252;

}

.page-container {
  padding-top: 25px;
}

.title-home {
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.card-container .card img {
  width: 165px;
  height: 162px;
}

h1, h3, h6 {
  font-family: Poppins;
}

.jumbotron h1{
  font-size: 70px;
  font-weight: 450;
  margin-top: 70px;
  padding-bottom: 40px;
}

.lead {
  padding-bottom: 20px;
}

.title-home h3 {
  font-weight: 500;
  font-size: 27px;
  font-family: Poppins;
}

#price, .total h6 {
  font-weight: 500;
  font-size: 16px;
}

.card-text h6, .card-text p {
  font-size: 14px;
  text-align: center;
  justify-content: center;
}

.card-text h6 {
  font-weight: 600;
  margin-top: 20px;
}

.card-text p {
  font-weight: 500;
}

#desc {
  font-size: 12px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 17px;
  color: #887d7d;
}

#price {
  color: #fd3a5c;
  font-size: 18px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-text h1 {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

mat-form-field {
  width: 500px;
}